{% load static %}
<hr class="text-secondary" />
{% load cache %}
<!-- prettier-ignore -->
{% cache 864000 footer %}
<footer class="container-fluid mb-2">
  <div class="d-flex justify-content-between mx-3 align-items-center">
    <a class="text-decoration-none d-flex align-items-center gap-2" href="/">
      <img
        width="50"
        height="50"
        src="{% static 'images/icons/logo.png' %}"
      />
      <span class="text-white font-rubik small"
        >©️2023, All rights reserved</span
      >
    </a>
    <div class="d-flex gap-4">
      <a class="hvr-icon-grow-rotate" href="/"
        ><i class="ci ci-instagram ci-xl hvr-icon"></i
      ></a>
      <a class="hvr-icon-grow-rotate" href="/"
        ><i class="ci ci-twitter ci-xl hvr-icon"></i
      ></a>
      <a class="hvr-icon-grow-rotate" href="/"
        ><i class="ci ci-discord ci-xl hvr-icon"></i
      ></a>
      <a class="hvr-icon-grow-rotate" href="/"
        ><i class="ci ci-spotify ci-xl hvr-icon"></i>
      </a>
    </div>
  </div>
</footer>
{% endcache %}
