{%extends 'base.html' %} {% load static %} {% block content %}
<section class="container-fluid">
  <div class="mx-3 mx-lg-5 mt-5">
    <div class="row">
      {% include 'includes/dashboard-sidebar.html' %}
      <main class="col-md-9 col-xl-10">
        <div class="card">
          <header class="card-header">
            <strong class="card-title font-nunito">Addresses</strong>
          </header>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr class="text-secondary font-nunito">
                    <th scope="col">Phone</th>
                    <th scope="col">Address 1</th>
                    <th scope="col">Address 2</th>
                    <th scope="col">State</th>
                    <th scope="col">City</th>
                    <th scope="col">Zip</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="font-rubik">
                  {% for address in addresses %}
                  <tr>
                    <td>{{ address.phone }}</td>
                    <td>{{ address.address_1 }}</td>
                    <td>{{ address.address_2 }}</td>
                    <td>{{ address.state }}</td>
                    <td>{{ address.city }}</td>
                    <td>{{ address.zip }}</td>
                    <td>
                      <a class="text-decoration-none text-danger" href="">
                        <span>Delete</span><i class="bi bi-trash-fill ms-1"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <strong class="font-nunito"
            >Note: To add or change an address, simply use your browser's built-in features on the checkout page.</strong
          >
        </div>
      </main>
    </div>
  </div>
</section>
{% endblock %}
