{%extends 'base.html' %} {% load static %} {% block content %}
<section class="container-fluid">
  <div class="mx-3 mx-lg-5 mt-5">
    <div class="row">
      {% include 'includes/dashboard-sidebar.html' %}
      <main class="col-md-9 col-xl-10">
        <div class="card bg-dark">
          <header class="card-header bg-secondary">
            <strong class="card-title font-karla text-white">Order History</strong>
          </header>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-dark">
                <thead>
                  <tr class="text-secondary font-poppins">
                    <th scope="col">Order ID</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Date</th>
                    <th scope="col">Grand Total</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders %}
                  <tr>
                    <td>
                      <a
                        class="text-decoration-none font-karla"
                        href="http://{{ request.get_host }}/order/payment_success/?order_id={{ order.order_id }}"
                        >{{ order.order_id }}</a
                      >
                    </td>
                    <td class="font-rubik">{{ order.phone }}</td>
                    <td class="font-rubik">{{ order.updated_at }}</td>
                    <td class="font-rubik">&#8377;{{ order.grand_total }}</td>
                    <td class="font-karla">{{ order.status }}</td>

                    <td>
                      <a class="text-decoration-none font-karla" href="">
                        <span>Track</span
                        ><i class="bi bi-geo-alt-fill ms-1"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</section>
{% endblock %}
