{% extends 'base.html' %} {% load static %} {% block content %}
<section class="container-fluid mt-5">
  {% if not cart_items %}
  <div class="d-flex flex-column align-items-center">
    <h2>Your Shopping Cart is Empty</h2>
    <br />
    <a href="{% url 'store' %}" class="btn btn-outline-primary text-center"
      >Continue Shopping</a
    >
  </div>

  {% else %}
  <div class="mx-3 mx-lg-5">
    <div class="row">
      <aside class="col-lg-9 hvr-shadow card">
        <div>
          <table class="table table-borderless">
            <thead class="text-body-secondary">
              <tr class="small text-lowercase font-poppins">
                <th class="col-2 col-md-6">product</th>
                <th class="col-4 col-md-2">quantity</th>
                <th class="px-md-5">price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for cart_item in cart_items %}
              <tr>
                <td>
                  <figure class="d-flex gap-md-4 flex-column flex-md-row">
                    <div class="aside col-md-2">
                      <a href="{{cart_item.product.get_url}}"
                        ><img
                          src="{{cart_item.product.image.url}}"
                          class="img-fluid"
                      /></a>
                    </div>
                    <figcaption
                      class="d-flex justify-content-between flex-column"
                    >
                      <a
                        href="{{cart_item.product.get_url}}"
                        class="text-dark text-decoration-none font-poppins small d-md-none"
                        >{{cart_item.product.name}}</a
                      >
                      <a
                        href="{{cart_item.product.get_url}}"
                        class="text-dark text-decoration-none font-poppins d-none fs-5 d-md-inline"
                      >
                        {{cart_item.product.name}}
                      </a>

                      <p class="text-body-secondary font-poppins small">
                        {% for variation in cart_item.variations.all %}
                        <!-- separator -->
                        {% if variation.variation_category|lower == "gift" %}
                        <!-- separator -->
                        {% if variation.variation_value|lower != "no" %}
                        <!-- separator -->
                        🎁
                        <!-- separator -->
                        {% endif %}
                        <!-- separator -->
                        {% else %}
                        <!-- separator -->
                        {{ variation.variation_category|title }}:
                        <!-- separator -->
                        {{ variation.variation_value }}
                        <!-- separator -->
                        {% endif %}
                        <!-- separator -->
                        {% endfor %}
                      </p>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div>
                    <div class="input-group input-group-sm">
                      <a
                        href="{% url 'remove_cart' cart_item.product.id cart_item.id %}"
                      >
                        <button class="btn btn-light btn-sm" id="button-minus">
                          <i class="bi bi-dash-lg"></i>
                        </button>
                      </a>
                      <input
                        type="number"
                        class="form-control text-center font-poppins"
                        value="{{cart_item.quantity}}"
                      />
                      <form
                        action="{% url 'add_cart' cart_item.product.id %}"
                        method="POST"
                      >
                        {% csrf_token %}
                        <!-- separator -->
                        {% for variation in cart_item.variations.all %}
                        <input
                          type="hidden"
                          name="{{variation.variation_category}}"
                          value="{{variation.variation_value}}"
                        />
                        {% endfor %}
                        <button
                          class="btn btn-light btn-sm"
                          id="button-plus"
                          type="submit"
                        >
                          <i class="bi bi-plus-lg"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                </td>
                <td class="px-md-5">
                  <div class="font-poppins">
                    <p>&#8377;{{cart_item.subtotal}}</p>
                    <small>
                      <var class="text-body-secondary small"
                        >&#8377;{{cart_item.product.price}} each</var
                      ></small
                    >
                  </div>
                </td>
                <td>
                  <a
                    href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}"
                    class="btn btn-outline-danger"
                    onclick="return confirm('Are you sure you want to remove this item?')"
                  >
                    <i class="bi bi-cart-x-fill"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </aside>
      <aside class="col-lg-3 mt-4 mt-lg-0">
        <div class="card font-poppins">
          <div class="card-body hvr-shadow">
            <ul class="list-inline">
              <li class="list-inline-item">Total:</li>
              <li class="list-inline-item float-end">&#8377;{{total}}</li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">Tax:</li>
              <li class="list-inline-item float-end">&#8377;{{tax}}</li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">Gift Charge:</li>
              <li class="list-inline-item float-end">&#8377;{{gift_charge}}</li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">Grand Total:</li>
              <li class="list-inline-item float-end fw-bold">
                &#8377;{{grand_total}}
              </li>
            </ul>
            <hr />
            <div
              class="d-flex flex-lg-column align-items-center align-items-lg-start"
            >
              <img height="50" src="{% static 'images/icons/cashfree.svg' %}" />
              <br />
              <a
                href="{% url 'checkout' %}"
                class="btn btn-primary ms-auto ms-lg-0"
                >Checkout</a
              >
            </div>
          </div>
        </div>
      </aside>
      <!-- col.// -->
    </div>
  </div>
  {% endif %}
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
