{% extends 'base.html' %} {% load static %} {% block content %}
<section class="container-fluid mt-5">
  <div class="mx-3 mx-lg-5">
    <div class="row">
      <aside class="col-lg-6">
        <div class="card bg-dark border">
          <div class="card-body">
            <h4 class="card-title font-poppins mb-4 text-white">Billing Details</h4>
            <form action="{% url 'place_order' %}" method="POST">
              {% csrf_token %}
              <div class="row g-4">
                <div class="col-auto">
                  <label class="visually-hidden" for="phone">Phone</label>
                  <div class="input-group">
                    <div class="input-group-text bg-secondary text-white font-rubik">+91</div>
                    <input
                      type="text"
                      class="form-control bg-dark text-white font-rubik"
                      id="phone"
                      placeholder="1234567890"
                      name="phone"
                      oninput="javascript: if (isNaN(this.value) || /\s/.test(this.value)) this.value = '';"
                      maxlength="10"
                      minlength="10"
                      required
                    />
                  </div>
                </div>
                <div class="col-12">
                  <label for="address_1" class="form-label text-white font-karla">Address</label>
                  <input
                    type="text"
                    class="form-control bg-dark text-white font-karla border-secondary"
                    id="address_1"
                    placeholder="1234 Main St"
                    name="address_1"
                    required
                  />
                </div>
                <div class="col-12">
                  <label for="address_2" class="form-label text-white font-karla">Address 2</label>
                  <input
                    type="text"
                    class="form-control bg-dark text-white font-karla border-secondary"
                    id="address_2"
                    placeholder="Apartment, studio, or floor"
                    name="address_2"
                    required
                  />
                </div>
                <div class="col-md-6">
                  <label for="city" class="form-label text-white font-karla">City</label>
                  <input
                    type="text"
                    class="form-control bg-dark text-white font-karla border-secondary"
                    id="city"
                    name="city"
                    placeholder="New Delhi"
                    required
                  />
                </div>
                <div class="col-md-4">
                  <label for="state" class="form-label text-white font-karla">State</label>
                  <select id="state" class="form-select bg-dark text-white font-karla border-secondary" name="state" required>
                    <option selected disabled>Choose...</option>
                    <option>Andaman and Nicobar Islands</option>
                    <option>Andhra Pradesh</option>
                    <option>Arunachal Pradesh</option>
                    <option>Assam</option>
                    <option>Bihar</option>
                    <option>Chandigarh</option>
                    <option>Chhattisgarh</option>
                    <option>Dadra and Nagar Haveli</option>
                    <option>Daman and Diu</option>
                    <option>Delhi</option>
                    <option>Goa</option>
                    <option>Gujarat</option>
                    <option>Haryana</option>
                    <option>Himachal Pradesh</option>
                    <option>Jammu and Kashmir</option>
                    <option>Jharkhand</option>
                    <option>Karnataka</option>
                    <option>Kerala</option>
                    <option>Lakshadweep</option>
                    <option>Madhya Pradesh</option>
                    <option>Maharashtra</option>
                    <option>Manipur</option>
                    <option>Meghalaya</option>
                    <option>Mizoram</option>
                    <option>Nagaland</option>
                    <option>Odisha</option>
                    <option>Puducherry</option>
                    <option>Punjab</option>
                    <option>Rajasthan</option>
                    <option>Sikkim</option>
                    <option>Tamil Nadu</option>
                    <option>Telangana</option>
                    <option>Tripura</option>
                    <option>Uttar Pradesh</option>
                    <option>Uttarakhand</option>
                    <option>West Bengal</option>
                  </select>
                </div>

                <div class="col-md-2">
                  <label for="zip" class="form-label font-karla text-white">Zip</label>
                  <input
                    type="text"
                    class="form-control bg-dark text-white font-rubik border-secondary"
                    id="zip"
                    name="zip"
                    oninput="javascript: if (isNaN(this.value) || /\s/.test(this.value)) this.value = '';"
                    maxlength="6"
                    minlength="6"
                    placeholder="000000"
                    required
                  />
                </div>
                <div>
                  <label for="note" class="form-label text-white font-karla">Order Note</label>
                  <textarea
                    class="form-control bg-dark text-white font-karla border-secondary"
                    id="note"
                    rows="3"
                    name="note"
                  ></textarea>
                </div>

                <div class="d-flex">
                  <i class="ci ci-cashfree ci-2x"></i>
                  <br />
                  <button class="btn btn-primary ms-auto font-inter" type="submit">
                    Place Order
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </aside>
      <aside class="col-lg-6 card mt-3 mt-lg-0 bg-dark hvr-glow border-0">
        <div>
          <table class="table table-borderless">
            <thead class="text-secondary">
              <tr class="small text-lowercase font-poppins">
                <th class="col-4 col-md-9">product</th>
                <th class="col-4 col-md-2 px-5 px-md-0">quantity</th>
                <th class="">price</th>
              </tr>
            </thead>
            <tbody>
              {% for cart_item in cart_items %}
              <tr>
                <td>
                  <figure class="d-flex gap-md-4 flex-column flex-md-row">
                    <div class="aside col-md-2">
                      <a href="{{cart_item.product.get_url}}"
                        ><img
                          src="{{cart_item.product.image.url}}"
                          class="img-fluid"
                      /></a>
                    </div>
                    <figcaption
                      class="d-flex justify-content-between flex-column"
                    >
                      <a
                        href="{{cart_item.product.get_url}}"
                        class="text-white text-decoration-none font-poppins small d-md-none"
                        >{{cart_item.product.name}}</a
                      >
                      <a
                        href="{{cart_item.product.get_url}}"
                        class="text-white text-decoration-none font-poppins d-none fs-5 d-md-inline"
                      >
                        {{cart_item.product.name}}
                      </a>

                      <p class="text-secondary font-poppins small">
                        {% for variation in cart_item.variations.all %}
                        <!-- separator -->
                        {% if variation.variation_category|lower == "gift" %}
                        <!-- separator -->
                        {% if variation.variation_value|lower != "no" %}
                        <!-- separator -->
                        🎁
                        <!-- separator -->
                        {% endif %}
                        <!-- separator -->
                        {% else %}
                        <!-- separator -->
                        {{ variation.variation_category|title }}:
                        <!-- separator -->
                        {{ variation.variation_value }}
                        <!-- separator -->
                        {% endif %}
                        <!-- separator -->
                        {% endfor %}
                      </p>
                    </figcaption>
                  </figure>
                </td>
                <td class="px-5 px-md-0">
                  <div class="text-white font-rubik">{{cart_item.quantity}}</div>
                </td>
                <td>
                  <div class="font-rubik text-white">
                    <p>&#8377;{{cart_item.subtotal}}</p>
                    <small>
                      <var class="text-secondary small"
                        >&#8377;{{cart_item.product.price}} each</var
                      ></small
                    >
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="font-poppins">
          <div>
            <ul class="list-inline">
              <li class="list-inline-item">Total:</li>
              <li class="list-inline-item float-end">&#8377;{{total}}</li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">Tax:</li>
              <li class="list-inline-item float-end">&#8377;{{tax}}</li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">Grand Total:</li>
              <li class="list-inline-item float-end fw-bold">
                &#8377;{{grand_total}}
              </li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
