{% extends 'base.html' %} {% load static %} {% block content %}
<section class="container-fluid mt-5">
  <div>
    <div class="text-center">
      <i class="bi bi-check-circle-fill"></i>
      <h2>Payment Successful</h2>
      <a href="{% url 'store' %}" class="btn btn-success">Shop more</a>
    </div>
    <div class="col-lg-8 card mt-3 mx-auto bg-body-tertiary">
      <div>
        <div class="d-flex justify-content-between">
          <img
            src="{% static 'images/icons/logo.svg' %}"
            alt="logo"
            height="50"
            width="50"
            class="p-2"
          />
          <div class="p-2">
            <p class="mb-0 fw-bold">Invoiced To</p>
            <p class="mb-0">{{user_info.name}}</p>
            <p class="mb-0">{{order.address_1}}, {{order.address_2}}</p>
            <p class="mb-0">{{order.city}}, {{order.state}}, {{order.zip}}</p>
            <p class="mb-0">{{order.email}}</p>
            <p class="mb-0">{{order.phone}}</p>
            {% if order.note %}
            <p class="mb-0"><b>Order Note: </b>{{order.note}}</p>
            {% endif %}
          </div>
        </div>
        <div class="p-2 small text-secondary fw-bold mt-5">
          <p class="mb-0">{{order.order_id}}</p>
          <p class="mb-0">{{order.updated_at}}</p>
          <p class="mb-0 text-success">SUCCESS</p>
        </div>
        <table class="table">
          <thead class="text-body-secondary card-header">
            <tr class="small text-lowercase font-poppins">
              <th class="col-4 col-md-9">product</th>
              <th class="col-4 col-md-2 px-5 px-md-0">quantity</th>
              <th class="">price</th>
            </tr>
          </thead>
          <tbody>
            {% for ordered_product in ordered_products %}
            <tr>
              <td>
                <figure class="d-flex gap-md-4 flex-column flex-md-row">
                  <div class="aside col-md-2">
                    <a href="{{ordered_product.product.get_url}}"
                      ><img
                        src="{{ordered_product.product.image.url}}"
                        class="img-fluid"
                    /></a>
                  </div>
                  <figcaption
                    class="d-flex justify-content-between flex-column"
                  >
                    <a
                      href="{{ordered_product.product.get_url}}"
                      class="text-dark text-decoration-none font-poppins small d-md-none"
                      >{{ordered_product.product.name}}</a
                    >
                    <a
                      href="{{ordered_product.product.get_url}}"
                      class="text-dark text-decoration-none font-poppins d-none fs-5 d-md-inline"
                    >
                      {{ordered_product.product.name}}
                    </a>
                    <p class="text-body-secondary font-poppins small">
                      {% for variation in ordered_product.variations.all %}
                      <!-- separator -->
                      {% if variation.variation_category|lower == "gift" %}
                      <!-- separator -->
                      {% if variation.variation_value|lower != "no" %}
                      <!-- separator -->
                      🎁
                      <!-- separator -->
                      {% endif %}
                      <!-- separator -->
                      {% else %}
                      <!-- separator -->
                      {{ variation.variation_category|title }}:
                      <!-- separator -->
                      {{ variation.variation_value }}
                      <!-- separator -->
                      {% endif %}
                      <!-- separator -->
                      {% endfor %}
                    </p>
                  </figcaption>
                </figure>
              </td>
              <td class="px-5 px-md-0">
                <div>{{ordered_product.quantity}}</div>
              </td>
              <td>
                <div class="font-poppins">
                  <p>&#8377;{{ordered_product.subtotal}}</p>
                  <small>
                    <var class="text-body-secondary small"
                      >&#8377;{{ordered_product.product.price}} each</var
                    ></small
                  >
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="font-poppins ms-auto p-2">
        <div>
          <ul class="list-inline">
            <li class="list-inline-item">Total:</li>
            <li class="list-inline-item float-end">&#8377;{{order.total}}</li>
          </ul>
          <ul class="list-inline">
            <li class="list-inline-item">Tax:</li>
            <li class="list-inline-item float-end">&#8377;{{order.tax}}</li>
          </ul>
          <ul class="list-inline">
            <li class="list-inline-item">Grand Total:</li>
            <li class="list-inline-item float-end fw-bold">
              &#8377;{{order.grand_total}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
