{% extends 'base.html' %} {% load static %} {% block content %}
<section class="container-fluid mt-5">
  <div class="mx-3 mx-lg-5">
    <h3 class="mb-5">Order Summary</h3>
    <div class="row">
      <aside class="col-lg-9">
        <div class="card mb-2 bg-dark text-white border">
          <h5 class="card-header font-poppins border">Billing Address</h5>
          <div class="card-body font-karla">
            <p class="card-text mb-0">{{user_info.name}}</p>
            <p class="card-text mb-0">
              {{order.address_1}}, {{order.address_2}}
            </p>
            <p class="card-text mb-0">
              {{order.city}}, {{order.state}}, <span class="font-rubik">{{order.zip}}</span>
            </p>
            <p class="card-text mb-0">{{order.email}}</p>
            <p class="card-text mb-0 font-rubik">{{order.phone}}</p>
            {% if order.note %}
            <p class="card-text mb-0">
              <span class="fw-bold">Order Note: </span>{{order.note}}
            </p>
            {% endif %}
          </div>
        </div>
        <div>
          <table class="table table-borderless">
            <thead class="text-body-secondary">
              <tr class="small text-lowercase font-poppins text-secondary">
                <th class="col-3 col-md-8">product</th>
                <th class="col-6 col-md-3 ps-5">quantity</th>
                <th>price</th>
              </tr>
            </thead>
            <tbody>
              {% for cart_item in cart_items %}
              <tr>
                <td>
                  <figure class="d-flex gap-md-4 flex-column flex-md-row">
                    <div class="aside col-md-2">
                      <a href="{{cart_item.product.get_url}}"
                        ><img
                          src="{{cart_item.product.image.url}}"
                          class="img-fluid"
                      /></a>
                    </div>
                    <figcaption
                      class="d-flex justify-content-between flex-column"
                    >
                      <a
                        href="{{cart_item.product.get_url}}"
                        class="text-white text-decoration-none font-poppins small d-md-none"
                        >{{cart_item.product.name}}</a
                      >
                      <a
                        href="{{cart_item.product.get_url}}"
                        class="text-white text-decoration-none font-poppins d-none fs-5 d-md-inline"
                      >
                        {{cart_item.product.name}}
                      </a>

                     <p class="text-secondary font-poppins small">
                      {% for variation in cart_item.variations.all %}
                      <!-- separator -->
                      {% if variation.variation_category|lower == "gift" %}
                      <!-- separator -->
                      {% if variation.variation_value|lower != "no" %}
                      <!-- separator -->
                      🎁
                      <!-- separator -->
                      {% endif %}
                      <!-- separator -->
                      {% else %}
                      <!-- separator -->
                      {{ variation.variation_category|title }}:
                      <!-- separator -->
                      {{ variation.variation_value }}
                      <!-- separator -->
                      {% endif %}
                      <!-- separator -->
                      {% endfor %}
                    </p>
                    </figcaption>
                  </figure>
                </td>
                <td class="ps-5">
                  <p class="text-white font-rubik small">
                    {{cart_item.quantity}}
                  </p>
                </td>
                <td>
                  <div class="text-white font-rubik">
                    <p>&#8377;{{cart_item.subtotal}}</p>
                    <small>
                      <var class="text-secondary small"
                        >&#8377;{{cart_item.product.price}} each</var
                      ></small
                    >
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </aside>
      <aside class="col-lg-3 mt-4 mt-lg-0">
        <div class="card font-rubik text-white bg-dark">
          <div class="card-body border rounded-2 hvr-shadow">
            <ul class="list-inline">
              <li class="list-inline-item">Total:</li>
              <li class="list-inline-item float-end">&#8377;{{order.total}}</li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">Tax:</li>
              <li class="list-inline-item float-end">&#8377;{{order.tax}}</li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">Gift Charges:</li>
              <li class="list-inline-item float-end">
                &#8377;{{order.gift_charges}}
              </li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">Grand Total:</li>
              <li class="list-inline-item float-end fw-bold">
                &#8377;{{order.grand_total}}
              </li>
            </ul>
            <hr />
            <div
              class="d-flex flex-lg-column align-items-center align-items-lg-start"
            >
              <i class="ci ci-cashfree ci-3x"></i>
              <br />
              <a
                href="{% url 'payment' order.order_id %}"
                class="btn btn-primary ms-auto ms-lg-0 font-inter"
                >Pay</a
              >
            </div>
          </div>
        </div>
      </aside>
      <!-- col.// -->
    </div>
  </div>
</section>
<script>
  const paymentSessionId = "{{ payment_session_id }}";
  if (paymentSessionId !== "None") {
    const cf = new Cashfree(paymentSessionId);
    cf.redirect();
  } else {
    console.log("Payment session ID is missing.");
  }
</script>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
